<div class="fvtt-enc-stats_top fvtt-enc-stats_campaign_top">
  <div class="flexrow">
    <div class="fvtt-enc-stats_actor_stat">
      <h2 class="fvtt-enc-stats_enemies">{{localize "EncounterStats.template.MostNatural20s"}}</h2>
      <ol class="fvtt-enc-stats_campaign_ol">
        {{#each nat20}}
        <li class="item flexrow campaign-row">
          {{name}}
          <div class="item-name">
            {{value}}
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
    <div class="fvtt-enc-stats_actor_stat">
      <h2 class="fvtt-enc-stats_enemies">{{localize "EncounterStats.template.MostNatural1s"}}</h2>
      <ol class="fvtt-enc-stats_campaign_ol">
        {{#each nat1}}
        <li class="item flexrow campaign-row">
          {{name}}
          <div class="item-name">
            {{value}}
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
    <div class="fvtt-enc-stats_actor_stat">
      <h2 class="fvtt-enc-stats_enemies">{{localize "EncounterStats.template.most_healing"}}</h2>
      <ol class="fvtt-enc-stats_campaign_ol">
        {{#each heals}}
        <li class="item flexrow campaign-row">
          {{name}}
          <div class="item-name">
            {{value}}
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
    <div class="fvtt-enc-stats_actor_stat">
      <h2 class="fvtt-enc-stats_enemies">{{localize "EncounterStats.template.most_kills"}}</h2>
      <ol class="fvtt-enc-stats_campaign_ol">
        {{#each kills}}
        <li class="item flexrow campaign-row">
          {{name}}
          <div class="item-name">
            {{value}}
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>
<div class="fvtt-enc-stats">
  <hr>
  <h2 class="fvtt-enc-stats_enemies">{{localize "EncounterStats.template.Natural20s"}}</h2>
  <div>
    {{#each criticalHistory}}
    {{date}}
    <ol class="item-list">
      {{#each entries}}
      <li class="item flexrow campaign-row">
        {{actorName}}
        <div class="item-name">
          {{flavor}}
        </div>
        <div class="item-name">
          {{date}}
        </div>
      </li>
      {{/each}}
    </ol>
    {{/each}}
  </div>
  <hr>
  <h2 class="fvtt-enc-stats_enemies">{{localize "EncounterStats.template.Natural1s"}}</h2>
  <div>
    {{#each fumbleHistory}}
    {{date}}
    <ol class="item-list">
      {{#each entries}}
      <li class="item flexrow campaign-row">
        {{actorName}}
        <div class="item-name">
          {{flavor}}
        </div>
        <div class="item-name">
          {{date}}
        </div>
      </li>
      {{/each}}
    </ol>
    {{/each}}
  </div>
  <hr>
  <h2 class="fvtt-enc-stats_enemies">{{localize "EncounterStats.template.Healing"}}</h2>
  <div>
    {{#each healsHistory}}
    {{date}}
    <ol class="item-list">
      {{#each entries}}
      <li class="item flexrow campaign-row">
        {{actorName}}
        <div class="item-name">
          {{flavor}}
        </div>
        <div class="item-name">
          {{total}}
        </div>
        <div class="item-name">
          {{date}}
        </div>
      </li>
      {{/each}}
    </ol>
    {{/each}}
  </div>
  <hr>
  <h2 class="fvtt-enc-stats_enemies">{{localize "EncounterStats.template.kills"}}</h2>
  <div>
    {{#each killsHistory}}
    {{date}}
    <ol class="item-list">
      {{#each entries}}
      <li class="item flexrow campaign-row">
        {{actorName}}
        <div class="item-name">
          {{flavor}}
        </div>
        <div class="item-name">
          {{date}}
        </div>
      </li>
      {{/each}}
    </ol>
    {{/each}}
  </div>

  {{#each killsHistory}}
  <hr>
  <h2 class="fvtt-enc-stats_enemies">{{name}}</h2>
  {{#each events}}
  <div>
    {{date}}
    <ol class="item-list">
      {{#each entries}}
      <li class="item flexrow campaign-row">
        {{actorName}}
        <div class="item-name">
          {{flavor}}
        </div>
        <div class="item-name">
          {{date}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  {{/each}}
  {{/each}}
</div>