<div class="fvtt-enc-stats">
    <h1>{{localize "EncounterStats.template.overview"}}</h1>
    <div class="fvtt-enc-stats_top">
        <div class="fvtt-enc-stats_actor_statlist flexrow">
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key fvtt-enc-stats_title3">
                    {{overview.scene.name}}
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    <img src="{{overview.scene.thumb}}" alt="{{overview.scene.name}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="fvtt-enc-stats_top">
        <div class="fvtt-enc-stats_actor_statlist flexrow">
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.Start"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{overview.start}}
                </div>
            </div>
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.Finished"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{overview.end}}
                </div>
            </div>
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.TotalRounds"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{round}}
                </div>
            </div>
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.NumberofEnemies"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{enemyNumber}}
                </div>
            </div>
        </div>
    </div>
    <h1>{{localize "EncounterStats.template.TopStatistics"}}</h1>
    <div class="fvtt-enc-stats_top">
        <div class="fvtt-enc-stats_actor_statlist flexrow">
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.most_damage_overall"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{{top.maxDamage}}}
                </div>
            </div>
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.most_damage_per_turn"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{{top.mostDamageInOneTurn}}}
                </div>
            </div>
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.highest_average_damage"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{{top.highestAvgDamage}}}
                </div>
            </div>
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.highest_damage_in_1_hit"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{{top.highestMaxDamage}}}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="fvtt-enc-stats_top">
        <div class="fvtt-enc-stats_actor_statlist flexrow">
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.most_kills"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{{top.mostKills}}}
                </div>
            </div>
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.most_healing"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{{top.mostHealing}}}
                </div>
            </div>
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.most_support_actions"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{{top.mostSupportActions}}}
                </div>
            </div>
            <div class="fvtt-enc-stats_actor_stat">
                <div class="fvtt-enc-stats_actor_stat-key">
                    <p>{{localize "EncounterStats.template.battlefield_actions"}}</p>
                </div>
                <div class="fvtt-enc-stats_actor_stat-value">
                    {{{top.mostBattlefieldActions}}}
                </div>
            </div>
        </div>
    </div>

    <h1>{{localize "EncounterStats.template.Combatants"}}</h1>
    <div class="fvtt-enc-stats_combatants">
        <div>
            {{#each combatants}}
            <div class="fvtt-enc-stats_combatant" data-fvtt-id="{{id}}">
                <div class="fvtt-enc-stats_combatants_overview">
                    <header class="fvtt-enc-stats_combatants_actor flexrow">
                        <div class="fvtt-enc-stats_combatants_actor_image flexcol">
                            <img src="{{img}}" alt="{{name}}" />
                            <div class="fvtt-enc-stats_actor_stat">
                                <div class="fvtt-enc-stats_actor_stat-key">
                                    <p>{{localize "EncounterStats.template.initiative"}}</p>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat-value">
                                    <p><span>{{initiative}}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="fvtt-enc-stats_actor_stats">
                            <h2 class="fvtt-enc-stats_actor_stats_name">{{name}}</h2>
                            <div class="fvtt-enc-stats_actor_statlist flexrow">
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.startinghp"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{hp}}</span><span class="sep">/</span><span>{{max}}</span></p>
                                    </div>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.finalhp"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{finalhp}}</span><span class="sep">/</span><span>{{max}}</span></p>
                                    </div>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.ac"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{ac}}</span></p>
                                    </div>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.damage_total"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{summaryList.total}}</span></p>
                                    </div>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.min_damage"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{summaryList.min}}</span></p>
                                    </div>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.max_damage"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{summaryList.max}}</span></p>
                                    </div>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.avg_damage"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{summaryList.avg}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="fvtt-enc-stats_actor_statlist flexrow">
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.Charisma"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{abilities.cha}}</span></p>
                                    </div>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.Constitution"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{abilities.con}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.Dexterity"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{abilities.dex}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.Intelligence"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{abilities.int}}</span></p>
                                    </div>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.Strength"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{abilities.str}}</span></p>
                                    </div>
                                </div>
                                <div class="fvtt-enc-stats_actor_stat">
                                    <div class="fvtt-enc-stats_actor_stat-key">
                                        <p>{{localize "EncounterStats.template.Wisdom"}}</p>
                                    </div>
                                    <div class="fvtt-enc-stats_actor_stat-value">
                                        <p><span>{{abilities.wis}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    {{#each rounds}}
                    <div class="fvtt-enc-stats_title3">
                        <h3>{{localize "EncounterStats.template.round"}} {{round}}</h3>
                    </div>
                    <section class="fvtt-enc-stats_combatants_data">
                        <section
                            class="fvtt-enc-stats_combatants_data_section fvtt-enc-stats_combatants_data_section-health">
                            <div class="flexcol">
                                <ol class="items-list flexcol">
                                    <li class="items-header flexrow">
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.kills"}}
                                        </div>
                                    </li>
                                    <ol class="item-list">
                                        {{#each kills}}
                                        <li class="item flexrow">
                                            <div class="item-name">
                                                {{tokenName}}
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ol>
                                </ol>
                                <ol class="items-list flexcol">
                                    <li class="items-header flexrow">
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.rounddmg"}}
                                        </div>
                                    </li>
                                    <ol class="item-list">
                                        <li class="item flexrow">
                                            <div class="item-name">
                                                {{damageTotal}}
                                            </div>
                                        </li>
                                    </ol>
                                </ol>
                                <ol class="items-list flexcol">
                                    <li class="items-header flexrow">
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.health"}}
                                        </div>
                                    </li>
                                    <ol class="item-list">
                                        {{#each health}}
                                        <li class="item flexrow">
                                            <div class="item-name">
                                                {{current}} ({{diff}})
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ol>
                                </ol>
                            </div>
                        </section>
                        <section
                            class="fvtt-enc-stats_combatants_data_section fvtt-enc-stats_combatants_data_section-attacks">
                            <div class="flexcol">
                                <ol class="items-list flexcol">
                                    <li class="items-header flexrow">
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.Image"}}
                                        </div>
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.weapon_spell_name"}}
                                        </div>
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.type"}}
                                        </div>
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.rolltype"}}
                                        </div>
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.attack_total"}}
                                        </div>
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.damage_total"}}
                                        </div>
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.damageMultipleEnemiesTotal"}}
                                        </div>
                                    </li>
                                    <ol class="item-list">
                                        {{#each attacks}}
                                        <li class="item flexrow">
                                            <div class="item-name">
                                                <img src="{{item.img}}" alt="{{item.name}}" width="20px"></img>
                                            </div>
                                            <div class="item-name">
                                                {{item.link}}
                                            </div>
                                            <div class="item-name">
                                                {{{actionTypeIcon}}}
                                            </div>
                                            <div class="item-name">
                                                {{rollAdvDis}}
                                            </div>
                                            <div class="item-name">
                                                {{attackTotal}}
                                            </div>
                                            <div class="item-name {{damageOrHeal}}">
                                                {{damageTotal}}
                                            </div>
                                            <div class="item-name {{damageOrHeal}}">
                                                {{damageMultipleEnemiesTotal}}
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ol>
                                </ol>
                            </div>
                        </section>
                    </section>
                    <hr />
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <h1>{{localize "EncounterStats.template.enemies"}}</h1>
    <div class="fvtt-enc-stats_combatants">
        <div>
            <div class="fvtt-enc-stats_combatant" data-fvtt-id="{{id}}">
                <div class="fvtt-enc-stats_combatants_overview">
                    <section class="fvtt-enc-stats_combatants_data">
                        <section
                            class="fvtt-enc-stats_combatants_data_section fvtt-enc-stats_combatants_data_section-attacks">
                            <div class="flexcol">
                                <ol class="items-list flexcol">
                                    <li class="items-header flexrow">
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.Image"}}
                                        </div>
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.Name"}}
                                        </div>
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.ac"}}
                                        </div>
                                        <div class="item-name">
                                            {{localize "EncounterStats.template.health"}}
                                        </div>
                                    </li>
                                    <ol class="item-list">
                                        {{#each enemies}}
                                        <li class="item flexrow">
                                            <div class="item-name">
                                                <img src="{{img}}" alt="{{name}}" width="75px"></img>
                                            </div>
                                            <div class="item-name">
                                                {{name}}
                                            </div>
                                            <div class="item-name">
                                                {{{ac}}}
                                            </div>
                                            <div class="item-name">
                                                {{{hp}}}
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ol>
                                </ol>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>